
.introducao{
  background-color: #000;
  box-shadow: inset 0px -120px white;
  margin-bottom: 120px;
}

.introducao .container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  align-items: end;
}

.introducao_texto{
  padding-bottom: 200px;
}

.introducao_texto h1{
  font-family: 'Poppins', sans-serif;
  font-size: 64px;
  line-height: 72px;
  font-weight: 600;
  margin-bottom: 32px;
  color: #fff;
}

.introducao_texto p{
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  line-height: 36px;
  font-weight: normal;
  max-width: 40ch;
  margin-bottom: 20px;
  color: #B2B2B2;
}

.introducao span{
  color: #FFBB00;
}

.introducao > img{
  margin-left: 20px;
  margin-bottom: 40px;
}